amongus-bg {
  display: inline-block;
  background: #000;
  min-height: 200px;
  min-width: 350px;
}

amongus-star {
  display: inline-block;
  background: #fff;
  height: 7px;
  width: 7px;
  position: absolute;
  opacity: 0;
}
