amongus-bg {
  display: inline-block;
  background: #000;
  min-height: 200px;
  min-width: 350px;
}

amongus-star {
  display: inline-block;
  background: #fff;
  height: 7px;
  width: 7px;
  position: absolute;
  opacity: 0;
  border-radius: 35%;
}

amongus-amogus {
  --scale: 50px;
  display: inline-block;
  background: #f00;
  position: absolute;
  height: var(--scale);
  width: var(--scale);
}
