@font-face {
  font-family: ubuntu_r; /* Ubutu:> */
  src: local("Ubuntu Regular"), url("Ubuntu-Font/Ubuntu-Regular.ttf");
}
@font-face {
  font-family: ubuntu_l; /* Ubutul:> */
  src: local("Ubuntu Light"), url("Ubuntu-Font/Ubuntu-Light.ttf");
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #171718;
}
body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #000a;
  width: fit-content;
  padding: 0 25px;
  color: #fff;
  font-family: ubuntu_l, system-ui;
}
h2 {
  font-family: ubuntu_r, system-ui;
}
hr {
  width: 100%;
  margin: 20px 0;
}

#google {
  width: 100%;
  font-size: x-large;
  padding: 10px 5px;
  border-radius: 20px;
  margin-bottom: 8px;
}
button.google {
  height: 40px;
  min-width: 100px;
  cursor: pointer;
}

.donut {
  white-space: pre;
  font-family: Consolas, monospace;
  pointer-events: none;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

#amongus {
  display: none;
  position: fixed;
  z-index: 2;
  background: #000a;
  inset: 0;
  justify-content: center;
  align-items: center;
}
#amongus > div {
  min-height: 100px;
  min-width: 150px;
  background: #000;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-direction: column;
}
#amongus a {
  font-size: x-large;
  color: #fff;
  text-decoration: none;
  font-style: italic;
}
#amongus img {
  height: 100px;
}
